.video-container {
    display: flex;
    background:white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video {
    width: 100%;

}

.c-video {
    width: 100%;
    max-width: 600px;
}

.title h1 {
    color: black;
}